* {
    --redcolor: #910101;
    --shadowcolor: rgba(145, 1, 1, 0.8);
    --bg-dark: #000000;
    --text-color: #ffdddd;
}
.skills{
    padding-top: 100px;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#4d3636 1px, transparent 1px);
    background-size: 22px 22px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.skillinfo{
    background-color: #910101;
    box-shadow: 0px 0px 30px rgb(167, 0, 0);
    margin-top: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    width: 60%;
}
.skillicon{
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 20%;
    max-width: 150px;
    margin: 10px ;
    transform: scale(1);
}
.skillicon:hover{
    transform: scale(1.05);
    box-shadow: 0px 5px 10px rgb(255, 179, 179);
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .skillinfo {
        width: 100%; /* Make it full-width for smaller screens */
    }
    .skillicon {
        width: 40%; /* Adjust width for smaller icons on mobile */
        height: 80px; /* Reduce height for smaller screens */
    }
}
@media (max-width: 550px) {
    .skills{
        width:600px;
        
    }
    
}