* {
    --redcolor: #910101;
}

.education {
    background-image: radial-gradient(#4d3636 1px, transparent 1px);
    background-size: 22px 22px;
    background-color: #000000;
    padding-top: 100px;
    height: 100%;
    width: 100%;
    
}

.educationinfo {
    margin-top: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-b;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    width: 60%;
    align-self: center;

}

.infoEdu{
    background-color: var(--redcolor);
    margin: 20px;
    height: auto;
    width: 60%; /* Increased width for better text fitting */
    padding: 15px 20px; /* Added padding for better spacing */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}
#btech{
    
}
.heading {
    font-size: 1.2rem; /* Adjusted font size for better readability */
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
}

.details {
    font-size: 1rem; /* Adjusted font size */
    line-height: 1.4; /* Increased line-height for spacing */
    color: #fff;
}

@media (max-width: 768px) {
    .infoEdu {
        width: 100%; /* Adjusting width for smaller screens */
    }

    .heading {
        font-size: 1.1rem; /* Smaller font for better fit on smaller screens */
    }

    .details {
        font-size: 0.9rem;
    }
}
@media (max-width: 550px) {
    .education{
        width:600px;
        
    }
    
}